body {
    background-color: blue(255,116,2);
    text-align: center;
    border-radius: 180px;
    border-style: groove;
    background-image: url(images\ \(2\).jfif)
}

.cartão img{
    margin-top: 20px;
    width: 40%;
    background-color: red;
}
img{
    width: 300px;
}
p, h1, h2{
    color: rgba(200,0,0);
}

a p{
    background-color: purple;
    width: 20%;
    padding: 15px 0;
    text-align: center;
    color: black;
    font-weight: bold;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer; 
    align-content: pointer;
    margin: 15px auto;
}
a p:hover{
    background-color: crimson;
    transform: scale(1.2);
}
body{
    text-align: center;
}